parameters:
	level: 9
	paths:
		- /
	ignoreErrors:
		- '#Access to constant .* on an unknown class#'
		- '#Constant .* not found#'
		- '#Function .* not found#'
		- '#Cannot cast mixed to .*#'
		- '#Using nullsafe method call on non-nullable type .*#'
		- '#Call to function is_numeric\(\) with .*#'
	excludePaths:
		- vendor/*
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/autoload.php